<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Listing</title>
</head>
<body>
    <h1>Create New Listing</h1>
    <form method="POST" action="/listing">
        <input name="listing[title]" placeholder="Enter title" type="text" required />
        <br/>
        <textarea name="listing[description]" placeholder="Enter description" required></textarea>
        <br/>

        <input name="listing[image]" placeholder="Enter image URL" type="text" required />
        <br/>

        <input name="listing[price]" placeholder="Enter price" type="number" step="0.01" required />
        <br/>

        <input name="listing[location]" placeholder="Enter location" type="text" required />
        <br/>

        <input name="listing[country]" placeholder="Enter country" type="text" required />
        <br/>

        <button type="submit">ADD</button>
    </form>
</body>
</html>
